.outlawCardshow{
    background-image: url("https://drive.google.com/uc?export=view&id=1HgBuK1Q4uykp0HB_NMyrBAx-u2Xdlctq");
    background-repeat:no-repeat;
    background-size: 100%;
    width: 100%;
    height:100%;
    margin:1px auto;
    vertical-align: top;
    border: 3px solid black;
}


.wantedShow{    
    text-align: center;
    margin-top: 9%;
    font-size: 55px;
    color: #40241B;
}

.aliasShow, .name{
    text-align: center;
    font-size: 25px;
    color: #40241B;
}
.bullet{
    width: 85%;
    margin: 10px auto 0 auto;
    display: flex;


}

.information{
    margin-left: 7px;

    color: #40241B;
}


.description{
    width: 85%;
    margin: 0 auto 10% auto;
    font-size: small;
    text-align: center;
    color: #40241B;
}
.showButtons{
    width: 100%;
    display: flex;
    margin: 1% 20%;
}

.join, .leave{
    width: 10%;
    color:white;
}

.return{
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
    margin-left: 10%;

}